<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.3" package="com.companyname.GitXamarinApp" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" />
	<permission android:protectionLevel="signature" android:name="${applicationId}.permission.C2D_MESSAGE" />
	<application android:label="GitXamarinApp.Android"></application>
</manifest>